# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Environnement virtuel
venv/
.venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Système
.DS_Store
Thumbs.db

# Fichiers temporaires
*.log
*.tmp
